<div class="navigation-toolbar-div">
    <mat-toolbar class="fixed-navigation-bar" color="primary">
        <span routerLink="/">EatTasty</span>
        <span class="example-spacer"></span>
        <div class="not-logged-buttons" *ngIf="!userInfo">
            <button mat-button routerLink="/login">Sign
                in</button>
            <button mat-raised-button color="accent" routerLink="/register">Sign
                up</button>
        </div>
        <div class="logged-in-buttons" *ngIf="userInfo">
            <button mat-button (click)="userLogout()">Sign out
                <mat-icon>directions_run</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
</div>