<div class="navigation-toolbar-div">
    <mat-toolbar class="fixed-navigation-bar" color="primary">
        <span [routerLink]="userInfo ? ['/app/home'] : ['/']">EatTasty</span>
        <span class="example-spacer"></span>
        <div class="not-logged-buttons" *ngIf="!userInfo">
            <button mat-button routerLink="/login">Sign
                in</button>
            <button mat-raised-button color="accent" routerLink="/register">Sign
                up</button>
        </div>
        <div class="logged-in-buttons" *ngIf="userInfo">
            <button mat-button>Orders
                <mat-icon>history
                </mat-icon>
            </button>
            <button mat-button [matMenuTriggerFor]="cartMenu">Cart
                <mat-icon matBadge="{{shoppingCartItems}}" matBadgeColor="warn" matBadgeOverlap="false"
                    matBadgeSize="small">shopping_cart
                </mat-icon>
            </button>
            <mat-menu #cartMenu="matMenu">
                <app-shopping-cart (click)="$event.stopPropagation()"></app-shopping-cart>
            </mat-menu>
            <button mat-button (click)="userLogout()">Sign Out
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
</div>