<div class="navigation-toolbar-div">
    <mat-toolbar class="fixed-navigation-bar" color="primary">
        <span routerLink="/home">Eat Tasty</span>
        <span class="example-spacer"></span>
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button> -->
        <button mat-button routerLink="/login">Sign
            in</button>
        <button mat-raised-button color="accent">Sign
            up</button>
    </mat-toolbar>

    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
</div>