<div class="register-div" style="height: 100%">
    <div class="flex-layout-register-div" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" *ngIf="dataLoaded">
        <div fxFlex="50%" fxLayoutAlign=" stretch" fxHide.lt-sm>
            <gallery id="gallery" [thumb]="false" [counter]="false" [autoPlay]="true" [dotsPosition]="top" [loop]="true"
                [imageSize]="contain">
            </gallery>
        </div>
        <div class="register-form" fxFlex="50%" fxLayoutAlign="center start" fxFlex.lt-sm="100%">
            <mat-horizontal-stepper linear labelPosition="bottom" #stepper>
                <mat-step [stepControl]="registerFirstFormGroup" [editable]="false">
                    <form [formGroup]="registerFirstFormGroup">
                        <ng-template matStepLabel>Address validation</ng-template>
                        <h3>
                            1. Validate if your place is covered by our delivery radius
                        </h3>
                        <mat-form-field class="form-field-full-width" appearance="outline">
                            <mat-label>Address</mat-label>
                            <input matInput formControlName="verifyAddress" [matAutocomplete]="auto" required>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="autoCompleteEvent($event)"
                                [displayWith]="getOptionText">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option.street + ', ' + option.city + ' : ' + option.postalCode}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="registerFirstFormGroup.controls.verifyAddress.invalid">
                                Please select a valid option!
                            </mat-error>
                        </mat-form-field>
                        <div class="button-right-align">
                            <button mat-raised-button color="primary" matStepperNext>Next</button>
                        </div>
                    </form>
                    <div style="text-align: center;">
                        <p>Already have an account? <span class="link-underline" routerLink="/login">Sign in now</span>
                        </p>
                    </div>
                </mat-step>
                <mat-step [stepControl]="registerSecondFormGroup" [editable]="false">
                    <form [formGroup]="registerSecondFormGroup">
                        <ng-template matStepLabel>Delivery Information</ng-template>
                        <h3> 2. Add your delivery place</h3>
                        <div fxLayout fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutGap.lt-sm="0px">
                            <div fxFlex="50%" fxFlex.lt-sm="100%">
                                <mat-label>Address</mat-label>
                                <div class="grey-text">
                                    <h5>{{currentAddress ? currentAddress.street : ''}}</h5>
                                    <h5>{{currentAddress ? currentAddress.postalCode + ' ' + currentAddress.city : ''}}
                                    </h5>
                                </div>
                            </div>
                            <div fxFlex="50%" fxFlex.lt-sm="100%">
                                <mat-label>Delivery Time</mat-label>
                                <div class="grey-text">
                                    <h5>Lunch: 13:00 - 13:30</h5>
                                    <h5>Dinner: 20:15 - 21:15</h5>
                                </div>
                            </div>
                        </div>
                        <mat-form-field class="form-field-full-width" appearance="outline">
                            <mat-label>Name of the Delivery Place</mat-label>
                            <input matInput formControlName="delivery" required>
                            <mat-error *ngIf="registerSecondFormGroup.controls.delivery.invalid">
                                This field is required!
                            </mat-error>
                        </mat-form-field>
                        <div style="margin-bottom: 1.34375em">
                            <mat-radio-group formControlName="deliveryType">
                                <mat-radio-button class="example-margin" value="residential">Residential
                                </mat-radio-button>
                                <mat-radio-button class="example-margin" value="company">Company</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div fxLayout fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutGap.lt-sm="0px">
                            <mat-form-field class="form-field-full-width" appearance="outline" fxFlex="50%"
                                fxFlex.lt-sm="100%">
                                <mat-label>Floor</mat-label>
                                <input matInput formControlName="floor">
                            </mat-form-field>
                            <mat-form-field class="form-field-full-width" appearance="outline" fxFlex="50%"
                                fxFlex.lt-sm="100%">
                                <mat-label>Other Information</mat-label>
                                <input matInput formControlName="otherInfo">
                            </mat-form-field>
                        </div>
                        <mat-form-field class="form-field-full-width" appearance="outline">
                            <mat-label>Where would you like to meet the driver?</mat-label>
                            <input matInput formControlName="driverInfo">
                        </mat-form-field>
                        <div class="button-right-align">
                            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                            <button mat-raised-button color="primary" matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="registerThirdFormGroup" [editable]="false">
                    <form [formGroup]="registerThirdFormGroup" (ngSubmit)="registerUser()">
                        <ng-template matStepLabel>Personal Information</ng-template>
                        <h3> 3. Add your personal information</h3>
                        <div fxLayout fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutGap.lt-sm="0px">
                            <mat-form-field class="form-field-full-width" appearance="outline" fxFlex="50%"
                                fxFlex.lt-sm="100%">
                                <mat-label>First Name</mat-label>
                                <input matInput formControlName="firstName" required>
                                <mat-error *ngIf="registerThirdFormGroup.controls.firstName.invalid">
                                    This field is required!
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="form-field-full-width" appearance="outline" fxFlex="50%"
                                fxFlex.lt-sm="100%">
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName="lastName" required>
                                <mat-error *ngIf="registerThirdFormGroup.controls.lastName.invalid">
                                    This field is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutGap.lt-sm="0px">
                            <mat-form-field class="form-field-full-width" appearance="outline" fxFlex="50%"
                                fxFlex.lt-sm="100%">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" required>
                                <mat-error
                                    *ngIf="registerThirdFormGroup.controls.email.invalid && registerThirdFormGroup.controls.email.errors.required">
                                    This field is required!
                                </mat-error>
                                <mat-error
                                    *ngIf="registerThirdFormGroup.controls.email.invalid && registerThirdFormGroup.controls.email.errors.pattern">
                                    Please enter a valid email address!
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="form-field-full-width" appearance="outline" fxFlex="50%"
                                fxFlex.lt-sm="100%">
                                <mat-label>Phone Number</mat-label>
                                <input matInput formControlName="phoneNumber" required>
                                <mat-error
                                    *ngIf="registerThirdFormGroup.controls.phoneNumber.invalid && registerThirdFormGroup.controls.phoneNumber.errors.required">
                                    This field is required!
                                </mat-error>
                                <mat-error
                                    *ngIf="registerThirdFormGroup.controls.phoneNumber.invalid && registerThirdFormGroup.controls.phoneNumber.errors.pattern">
                                    Please enter a valid phone number!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutGap.lt-sm="0px">
                            <mat-form-field class="form-field-full-width" appearance="outline" fxFlex="50%"
                                fxFlex.lt-sm="100%">
                                <mat-label>Password</mat-label>
                                <input matInput formControlName="password" type="password" required>
                                <mat-error
                                    *ngIf="registerThirdFormGroup.controls.password.invalid && registerThirdFormGroup.controls.password.errors.required">
                                    This field is required!
                                </mat-error>
                                <mat-error
                                    *ngIf="registerThirdFormGroup.controls.password.invalid && registerThirdFormGroup.controls.password.errors.minlength">
                                    Password should have at least 6 characters!
                                </mat-error>
                                <mat-error
                                    *ngIf="registerThirdFormGroup.controls.password.invalid && registerThirdFormGroup.controls.password.errors.maxlength">
                                    Password should have fewer than 24 characters!
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="form-field-full-width" appearance="outline" fxFlex="50%"
                                fxFlex.lt-sm="100%">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput formControlName="confirmPassword" type="password" required>
                                <mat-error
                                    *ngIf="registerThirdFormGroup.controls.confirmPassword.invalid && registerThirdFormGroup.controls.confirmPassword.errors.required">
                                    This field is required!
                                </mat-error>
                                <mat-error
                                    *ngIf="registerThirdFormGroup.controls.confirmPassword.invalid && registerThirdFormGroup.controls.confirmPassword.errors.passwordDoNotMatch">
                                    Passwords do not match!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutGap.lt-sm="0px">
                            <mat-form-field class="form-field-full-width" appearance="outline" fxFlex="50%"
                                fxFlex.lt-sm="100%">
                                <mat-label>VAT</mat-label>
                                <input matInput formControlName="vat">
                            </mat-form-field>
                            <mat-form-field class="form-field-full-width" appearance="outline" fxFlex="50%"
                                fxFlex.lt-sm="100%">
                                <mat-label>Country</mat-label>
                                <mat-select formControlName="country" required>
                                    <mat-option *ngFor="let c of availableCountriesList" [value]="c">
                                        {{c}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxLayoutGap="20px" style="margin-bottom: 1.34375em">
                            <mat-checkbox color="primary" [checked]="true">
                                I wish to receive the menu, promotions, special offers and other information!
                            </mat-checkbox>
                            <p>
                            </p>
                            <mat-checkbox #termsOfService color="primary" formControlName="tos">I have read and
                                agreed
                                with the
                                <span class="link-underline"
                                    (click)="openTermsOfServiceDialog($event, termsOfService)">Terms of
                                    Service!</span>
                            </mat-checkbox>
                            <mat-error *ngIf="doneButtonPressed && !termsOfService.checked">
                                {{termsOfServiceErrorMessage()}}
                            </mat-error>
                        </div>
                        <div class="button-right-align">
                            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                            <button mat-raised-button color="primary">Register</button>
                        </div>
                    </form>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>