<div class="login-div" style="height: 100%">
    <div class="flex-layout-login-div" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" *ngIf="dataLoaded">
        <div fxFlex="50%" fxLayoutAlign=" stretch" fxHide.lt-sm>
            <gallery id="gallery" [thumb]="false" [counter]="false" [autoPlay]="true" [dotsPosition]="top" [loop]="true"
                [imageSize]="contain">
            </gallery>
        </div>
        <div class="login-form" fxFlex="50%" fxLayoutAlign="center center" fxFlex.lt-sm="100%">
            <div class="login-info" *ngIf="!recoverPassword">
                <h2>{{recoverPassword ? 'Recover Password' : 'Welcome back'}}</h2>
                <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
                    <mat-form-field class="form-field-full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" required>
                        <mat-error *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.errors.pattern">
                            Email not valid!
                        </mat-error>
                        <mat-error *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.errors.required">
                            Email is <strong>required</strong>!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field-full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
                        <button mat-icon-button type="button" matSuffix (click)="hidePassword = !hidePassword"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                            <mat-icon>{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </button>
                        <mat-error
                            *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.errors.required">
                            Password is <strong>required</strong>!
                        </mat-error>
                    </mat-form-field>
                    <div style="text-align: right;">
                        <p class="link-underline">Forgot your
                            password?</p>
                        <p>Do you still need an account? <span class="link-underline" routerLink="/register">Sign up now
                                for free!</span></p>
                    </div>
                    <div class="button-right-align">
                        <button mat-flat-button color="primary">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>