<div class="grid-container" style="height: 100%;">
  <h1 class="mat-h1" style="text-align: center;">Products</h1>
  <mat-grid-list cols="4" rowHeight="400px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" routerLink="{{card.link}}">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{card.image}}" style="height: 250px;">
        <mat-card-content>
          <p>
            {{card.description}}
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>