/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-field-full-width {
    width: 100%;
}

.link-underline {
    text-decoration: underline !important;
    color: grey !important;
    cursor: pointer;
}

.button-right-align {
    text-align: right;
}

.button-right-align button {
    margin-left: 16px;
}

.grey-text {
    color: grey;
}

.mat-checkbox-layout {
    white-space: normal !important;
  }